body {
  background-color: black;
}
h1{
  margin: 5px;
  text-align: center;
  font-family: fantasy;
  color: white;
  font-size: 20px;
}
h2{
  margin: 5px;
  text-align: center;
  font-family:sans-serif;
  font-style: normal;
  font-size: 600px;
  color: white;
}
